@import "./nav.css";
@import "./footer.css";
@import "./typography.css";



/* @media (min-width: 320px) {
  .main {
    column-count: 1;
    column-gap: 20px;
  } */
/* 
  section {
    break-inside: avoid;
  }
} */

/* @media (min-width: 600px) {
  .mainBlogContent {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .mainBlogContent {grid-template-columns: repeat(2, 1fr);}
} */
@media (max-width: 320px) {

}
@media (max-width: 901px) {

}
@media (min-width: 600px) and (max-width: 900px) {

}
/* --------------Flex Layout--------------------------------- */
.subheading {
  display: flex;
  flex-direction: wrap;
  justify-content: flex-start;
  background-color: rosybrown;
}
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline ;
  flex-grow: initial;
}
.headline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* -------------------Grid Layout----------------------------- */ 
.mainBlogContent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}
.card {
  max-width: 960px;
}
.footer {
  grid-column: 1/-1;
  clear: both;
}

/* -------------------Page Styles--------------------------------- */
header,
footer,
nav {
  /* background: yellow; */
  padding: 20px;
  margin: 5px;
}
article {
  background: royalblue;
}
.thumbnail {
  width: 150px;
  height: 150px;
  border-radius: 4px;
  border: 4px solid #363a48;
  margin: 20px;
}
.heroImage {
  max-width: 100%;
  height: auto;
  border-radius: 2px;
  padding: 5px;
}
.heroContent {
  word-wrap: break-word;
  text-align: justify;
  font-family: "SpaceGrotesk-Regular", fallback, sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  color: #363a48;
}
.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 4rem;
  padding: 1rem; */
}
section {
  background-color: lightblue;
}
.btn {
position: relative;
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
text-decoration: none;
cursor: pointer;
}
a.btn {
  max-width: 425px;
}
.headline {
  background-color: rebeccapurple;
}
