@import "../mainPage.css";

/* -----------------Flex layout----------- */



/* ------------------Grid------------------------- */
nav {
  grid-area: header;
}
section {
  grid-area: main;
}
.sidebar {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
}
.container {
  display: grid;
  /* grid-template-columns: 200px 100px 100px 100px; */
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header"
    "main main main sidebar"
    "main main main sidebar"
    "main main main ."
    "main main main ."
    "footer footer footer footer";
}


/* Page Styles */
blockquote {
  margin: 0;
}
